In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [2]:
df=pd.read_csv('tel_churn.csv')

In [3]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [4]:
df=df.drop(columns='Unnamed: 0', axis=1)

In [5]:
df.head(5)

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

In [6]:
x=df.drop(columns='Churn',axis=1)

In [7]:
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [8]:
y=df['Churn']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# Decision Tree Classifier

In [10]:
model_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [11]:
model_dt.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [12]:
y_pred=model_dt.predict(X_test)

In [13]:
print(classification_report(y_test,y_pred,labels=[0,1]))#accuracy is very bad due to imbalanced datset

              precision    recall  f1-score   support

           0       0.83      0.88      0.85      1030
           1       0.61      0.51      0.55       377

    accuracy                           0.78      1407
   macro avg       0.72      0.69      0.70      1407
weighted avg       0.77      0.78      0.77      1407

In [14]:
print(confusion_matrix(y_test,y_pred))

[[905 125]
 [185 192]]

# Smotten

In [15]:
sm=SMOTEENN()
X_resample,Y_resample =sm.fit_resample(x,y)

In [16]:
Xr_train, Xr_test, yr_train, yr_test = train_test_split(X_resample, Y_resample, test_size=0.2)

In [17]:
smot_model_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [18]:
smot_model_dt.fit(Xr_train,yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [19]:
yr_pred=model_dt.predict(Xr_test)

In [20]:
print(classification_report(yr_test,yr_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.68      0.99      0.81       546
           1       0.99      0.60      0.75       626

    accuracy                           0.78      1172
   macro avg       0.84      0.80      0.78      1172
weighted avg       0.85      0.78      0.78      1172

In [21]:
print(confusion_matrix(yr_test,yr_pred))

[[541   5]
 [249 377]]

In [22]:
#Even i apply somtten the accuracy is bad, so istarted use of random Forest

In [23]:
#Random_Forest\
from sklearn.ensemble import RandomForestClassifier

In [24]:
model_dt_rf=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [25]:
model_dt_rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [26]:
y_pred_rf=model_dt_rf.predict(X_test)

In [27]:
print(classification_report(y_test,y_pred_rf,labels=[0,1]))#accuracy is bad

              precision    recall  f1-score   support

           0       0.81      0.92      0.86      1030
           1       0.66      0.43      0.52       377

    accuracy                           0.79      1407
   macro avg       0.74      0.67      0.69      1407
weighted avg       0.77      0.79      0.77      1407

In [28]:
sm=SMOTEENN()#applied smotten to the random Forest 
X_resample,Y_resample =sm.fit_resample(x,y)

In [29]:
Xr_train, Xr_test, yr_train, yr_test = train_test_split(X_resample, Y_resample, test_size=0.2)

In [30]:
model_dt_rf=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)

In [31]:
model_dt_rf.fit(Xr_train,yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [32]:
y_pred_rf=model_dt_rf.predict(Xr_test)

In [33]:
print(classification_report(yr_test,y_pred_rf,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.96      0.89      0.92       533
           1       0.91      0.97      0.94       645

    accuracy                           0.93      1178
   macro avg       0.94      0.93      0.93      1178
weighted avg       0.93      0.93      0.93      1178

In [34]:
print(confusion_matrix(yr_test,y_pred_rf))

[[474  59]
 [ 20 625]]

The model accuarcy is very good

# Save the model

In [35]:
import pickle
filename='model.sav'

In [36]:
pickle.dump(model_dt_rf,open(filename,'wb'))

In [37]:
load_model=pickle.load(open(filename,'rb'))

In [38]:
load_model.score(Xr_test,yr_test)

0.932937181663837